<p id="notice"><%= notice %></p>

<h1>Enters</h1>

<table>
  <thead>
    <tr>
      <th>Meal type</th>
      <th>Calories</th>
      <th>Proteins</th>
      <th>Carbohydrates</th>
      <th>Fats</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enters.each do |enter| %>
      <tr>
        <td><%= enter.meal_type %></td>
        <td><%= enter.calories %></td>
        <td><%= enter.proteins %></td>
        <td><%= enter.carbohydrates %></td>
        <td><%= enter.fats %></td>
        <td><%= link_to 'Show', enter %></td>
        <td><%= link_to 'Edit', edit_enter_path(enter) %></td>
        <td><%= link_to 'Destroy', enter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enter', new_enter_path %>
