<% content_for :title do%>
  Foodlog &ndash; <%= DateTime.now%>
  <% end %>


<div class = "columns mt-6 is-centered">
    <% @enters.each do |enter| %>
      <div class = "column is-one-quarter">
         <div class = "card">
          <header clas = "card-header">
            <%= enter.meal_type %>
          </header>
          <div class = "card-content">
              <div class = "content">
                <p><span class = "has-text-weight-bold"><%= enter.calories %></span> calories </p>
                <p><span class = "has-text-weight-bold"><%= enter.proteins %></span>grams of protein</p>
                <p><span class = "has-text-weight-bold"><%= enter.carbohydrates %></span>grams of carbohydrates</p>
                <p><span class = "has-text-weight-bold"><%= enter.fats %></span>grams of fats</p>
              </div>
          </div>

          <div class = "card-footer" >
            <%= link_to 'Show', enter %>
            <%= link_to 'Edit', edit_enter_path(enter) %>
            <%= link_to 'Destroy', enter, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
</div>
